*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
   
    font-family:  sans-serif;
    font-weight: normal;
}
:root{
    --greycolor:#daa520;
    --paracolor:#808080;
    --bgcolor:rgb(20, 20, 22);
    --bdrwhite:2px solid rgb(255, 255, 255);
    --headingonwhite:#292d33;

}
/* header */
nav{
    display: flex;
   padding:0.5% 5% 0.5% 5%;
   background-color: white;
  
}
.navitem{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}
nav #logo{
/* width: 12vw; */
height: 50px;
color: #185cff;
/* justify-content: end; */
width: 186px;

}
nav #link{
/* width: 50vw; */
height: 50px;
/* width: fit-content; */
padding-left: 20px;
}
nav #button{
width: 70vw;;
height: 50px;
justify-content: end;

}
nav ul{
    /* border: 2PX SOLID black; */
    /* width: 55%; */
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 20px;
}
nav ul a{
    text-decoration: none;
    color: #74767e;
    font-size: 1.275rem;
    font-weight: 500;
    /* padding-left: 20px; */
    padding-bottom: 5px;
    
}
nav ul li{
    padding-left: 25px;  

}
/* nav #button div{
    /* border: 2px solid black; */
 /* margin-right: 100px; */

nav #button a{ 
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 500;
    
}
nav #button button{
  
   /* border: none; */
    margin-left: 30px;
    padding: 8px 17px 8px 17px;
    border-radius: 5px;
    
}
nav #button1{
    
background-color: white;
 border: none;
}
nav #button2 {
 background-color: #185cff;
 color: white;
 border: none;
}
nav #button2 a{
   
    color: white;
   }
nav #button1 a{
    color: rgb(62, 71, 132);
    font-weight: 500;
    font-size: 1.15rem;
}
nav #link a:hover{
border-bottom: 1px solid black;
color: black;
    
}
nav #button1:active{
    background-color: rgb(238, 238, 242);
}
nav #button2:hover{
    background-color: #336cf1;
}
nav #button2:active{
    background-color: #336cf1;
}
@media(max-width:1010px)
{
   #link{
        display: none;
    } 
    
  
}
nav #button {
    width: 85vw;
    height: 50px;
    justify-content: end;
}

   

@media(max-width:573px)
{
    nav #button1{
        display: none;
    }
}
.main{
    position: relative;
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(250,250,250, 0.2),
rgba(250,250,250, 0.2)), url('/pexels-sergio-souza-1779416.jpg');
   /* background-image:url("/pexels-sergio-souza-1779416.jpg"); */
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   
}
/* .main::before{
    content: "";
    background-image:url("/pexels-sergio-souza-1779416.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0.2;
} */
.main img{
    width: 100%;
    height:100%;

    
}
.contactus{
    width: 100%;
    height:250vh;
}
.main h1{
    color: #1c1919;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    width: 60%;
    text-shadow: 2px 2px 2px white;
  
}
.main h2{
    padding-top: 50px;
    color: #1c1919;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 2px white;
   
}
.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1919;
}
.contactus .heading {
  width: 90%;
  padding-top: 50px;
  /* border: 2px solid rgb(255, 255, 255); */
  color: white;
  font-size:1.5rem;
  font-weight: normal;
  padding-bottom: 20px;
}
.contactus .foam{
 /* border: 2px solid rgb(252, 248, 248); */
  width: 90%;
  height: 100%;
  background-color: #272727;
  margin-bottom: 100px;
}
.contactus .foam{
    display: flex;
    padding: 30px;
}
.contactus .content{
    width: 50%;
    height: 100%;
    /* border:2px solid white; */
}
#lottie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
#lottie div{
    width: 100%;
    height: 80%;
    /* border: 2px solid white; */
    /* margin-top: 150px; */
}
.content h3{
    color: white;
    font-weight: normal;
    padding-top: 20px;
    font-size: 24px;
}
.content span{
    color:white
}
.text{
    margin-top: 8px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
}
/* #event{
    padding-top: 30px;
} */
#textarea{
    width:80%;
    padding: 10px;
    margin-top: 7px;
    border-radius: 5px;
}
.button{
    margin-top: 40px;
    width: 80%;
    height:60px;
    background-color: #daa520;
    color:black;
    border-radius: 8px;
    font-size: 20px;
}
#reset{
    margin-top:20px ;
}
@media(max-width:980px)
{
    #lottie{
        display: none;
    }
    .contactus .content{
        width: 100%;
    }
    .text{
        width: 100%;
    }
    .button{
        width:100%
    }
    #textarea{
        width:100%;
    }
}

                                                                    /* footer */
footer{
    width: 100%;
    background-color:#262626;
    color: white;
  
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    /* background-color:wheat; */
    padding-top: 50px;
}
.left-box,.right-box,.center-box{
    width: 33% ;
    padding-left: 20px;
}
.center-box h4{
    display: inline-block;
}
.right-box .content h4{
    margin: 0px;
}
.main-container h2{
    margin:10px 0px 10px 0px;
}
.left-box i,.content i{
    font-size: 30px;
    color: white;
  
    
}
.left-box i{
    padding:10px 10px;
    background-color: rgba(35, 33, 33, 0.748);
    border-radius: 5px;
    margin-bottom:40px ;
}
.left-box p{
    margin-bottom: 20px;
   margin-top: 25px;
   padding-right: 50px;
   word-spacing: 2px;
}
.left-box i:hover{
background-color: #daa520;
}
.tag{
    padding-top: 10px;
}
.tag i{
   
   padding: 10px;
   border-radius: 200px;
   background-color:  rgba(52, 49, 49, 0.748);
}
.tag i:hover {
    background-color: #daa520;
}
.tag h4{
    margin-left: 15px;
}
.right-box h4{
    font-size: 20px;
    font-weight: normal;
    
}
.asd{
background-color: rgba(45, 44, 44, 0.468);
border: 0.2px solid rgba(255, 255, 255, 0.371);
width:90%;
margin: 5px 0px 5px 0px;
color: azure;
}
.right-box .content{
    padding-top: 10px;
    color: white;
}
.mybutton button{
    width:90%;
    height:30px;
    margin-top: 20px;
    font-size: 17px;
    background-color: #daa520;
    border: none;
    border-radius: 2px;
}
.content{
    padding-bottom: 50px;
}
.mybutton button:hover{
  color:black;
  background-color: white;
  transition: .2s;
}
/* .main-container h2{
 text-decoration: underline;
 text-decoration-color: red;

} */
hr{
    color:#daa520;
}
@media(max-width:750px)
{
    .main-container{
        flex-direction: column;
    }
    .left-box,.right-box,.center-box{
        width:100%;
    }
}


                                                                  
